*{
    margin: 0;
    padding: 0;
}

canvas {
    width: 1280px;
    height: 720px;
    margin: 100px auto;
    background-image: url(img/background/BG.png); 
    display: block;

}

div {
    box-sizing: border-box;
}